<h1>All Recipes:</h1>

<% @recipes.each do |recipe| %>
	<h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
	<h3><%= recipe.chef %></h3>
	<h4><%= recipe.ingredients %></h4>
	<h4><%= recipe.directions %></h4>
<!--   <a data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="/recipes/<%=recipe.id%>">Delete Recipe</a> -->
<% end %>

<button class="btn btn-info">Is Bootstrap Working?</button>