<h1>All Recipes:</h1>

  <% @recipes.each_slice(3) do |three_recipes| %>

    <div class="row">
      <% three_recipes.each do |recipe| %>

        <div class="col-sm-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="<%= recipe.image %>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= recipe.title %></h4>
              <p class="card-text">Ingredients: <%= recipe.ingredients %><br>
              Directions: <%= recipe.directions %></p>
              <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">See Recipe</a>
            </div>
          </div>
        </div>

      <% end %>
    </div>

  <% end %>


