<h1>Single Recipe:</h1>

<h2><%= @recipe.title %></h2>
<h3>Chef: <%= @recipe.user.name %></h3>

<h4>Ingredients:</h4>
<ul>
  <% @recipe.ingredients_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<h4>Directions:</h4>
<ol>
  <% @recipe.directions_list.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>

<h4>Prepared in <%= @recipe.friendly_prep_time %></h4>

<h5>Added <%= @recipe.friendly_created_at %></h5>

<a class="btn btn-warning" href="/recipes/<%= @recipe.id %>/edit">Edit</a>
<%= form_tag "/recipes/#{@recipe.id}", method: :delete do %>
	<input class="btn btn-danger" type="submit" value="Delete Recipe">
<% end %>

<a href="/recipes">Back to all recipes</a>

