<h1>Single Recipe:</h1>

<h2><%= @recipe.title %></h2>
<h3><%= @recipe.chef %></h3>
<h4><%= @recipe.ingredients %></h4>
<h4><%= @recipe.directions %></h4>
<h4>Prepared in <%= @recipe.prep_time %> minutes</h4>

<a class="btn btn-warning" href="/recipes/<%= @recipe.id %>/edit">Edit</a>
<%= form_tag "/recipes/#{@recipe.id}", method: :delete do %>
	<input class="btn btn-danger" type="submit" value="Delete Recipe">
<% end %>

<a href="/recipes">Back to all recipes</a>

